@import 'fonts.scss';
@import 'buttons.scss';

.position-absolute {
    position: absolute;
}

.top-right {
    background-image: url('/assets/TopRight.png');
}

.cursor-pointer {
    cursor: pointer;
}

.full-width {
    width: inherit;
}

.window-width {
    width: 100vw;
}

.full-height {
    height: inherit;
}

input[role=checkbox] {
    opacity: 1 !important;
}

.window-height {
    height: 100vh
}

.bottom-4 {
    bottom: 16px;
}